@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header-left a {
  text-decoration: none;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #A5C7E5;
}

.header-left h1 {
  color: #ffffff;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 17px;
}

.hello h3 span {
  font-weight: 800;
  color: #F8E37D;
}

.btn-nav {
  width: 40%;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  border-radius: 24px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white :hover{
  color: #F8E37D;
}

.btn-nav-white h3 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  background-color: #fff;
  color: #A5C7E5;
  border-radius: 24px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.btn-nav h3,
.btn-logout  {
  margin: 0;
  padding: 0;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-logout {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #A5C7E5;
  font-size: 13px;
  border-radius: 24px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-logout h3:hover {
  color: #F8E37D;
}

.kpis-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  padding: 10px;
}

.kpi {
  background: #A5C7E5;
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  min-width: 200px;
}

.conteudo {
  margin-left: 20%;
  padding: 20px 40px;
  background-color: #ffffff;
}

#graficoQuiz2,
#graficoImagem,
#graficoConselhos {
    max-width: 300px;
    max-height: 300px;
}

.graficos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;

}

.graficos-container canvas {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}