@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --tamanho-header: 60px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: #A5C7E5;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #A5C7E5;
}

.header a {
  text-decoration: none;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 450;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
}

.navbar a span {
  background-color: #ffff;
  width: 100px;
  color: #A5C7E5;
  border-radius: 10px;
  transition: 0.2s;
}

.navbar a span:hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.navbar li a {
  color: #ffffff;
  transition: 0.2s;
}

.navbar li a:hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.titulo {
  color: #ffff;
  width: fit-content;
  font-weight: 700;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/banner_home.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 60px;
}

.banner .container-filho {
  max-width: 40%;
  margin-top: 50px;
}

.botao {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 24px;
  background-color: #ffff;
  height: 28px;
  text-decoration: none;
  color: black;
}

.botao:hover {
  color: #F8E37D;
  transition: 0.2s;
}

.banner .container p {
  font-size: 25px;
}

.banner .container p:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.banner .container h1:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #f4f0f0;
  height: 900px;
}

.social .container {
  justify-content: center;
}

.sinopse {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.texto-sinopse h1 {
  margin-bottom: 20px;
  max-width: 700px;
  margin-top: 50px;
}

.texto-sinopse h1:hover {
  color: #F8E37D;
  transform: scale(1.01);
  transition: 0.2s;
}

.texto-sinopse p {
  margin-bottom: 60px;
  max-width: 700px;
  margin-top: 50px;
}

.texto-sinopse p span {
  color: #F8E37D;
  font-weight: bold;
  display: inline-block;
}

.texto-sinopse p span:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.imagem-sinopse {
  background-image: url('../assets/imgs/index_parte2.png');
  background-size: cover;
  background-position: center;
  margin-top: 170px;
  width: 510px;
  height: 300px;
  border-radius: 24px 0 24px 0;
}

/* FOOTER */

.footer {
  background-color: #A5C7E5;
  height: 77px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer :hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}