@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --tamanho-header: 60px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: #A5C7E5;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #A5C7E5;
}

.header a {
  text-decoration: none;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 450;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
}

.navbar a span {
  background-color: #ffff;
  width: 100px;
  color: #A5C7E5;
  border-radius: 10px;
  transition: 0.2s;
}

.navbar a span:hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.navbar li a {
  color: #ffffff;
  transition: 0.2s;
}

.navbar li a:hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.titulo {
  color: #ffff;
  width: fit-content;
  font-weight: 700;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/banner_home.jpeg');
  background-size: cover;
  background-position: center;
}

.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-align: left;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}