@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --tamanho-header: 60px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: #A5C7E5;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #A5C7E5;
}

.header a {
  text-decoration: none;
  margin: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 450;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
}

.navbar a span {
  background-color: #ffff;
  width: 100px;
  color: #A5C7E5;
  border-radius: 10px;
  transition: 0.2s;
}

.navbar a span:hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.navbar li a {
  color: #ffffff;
  transition: 0.2s;
}

.navbar li a:hover {
  color: #F8E37D;
  transform: scale(1.05);
}

.titulo {
  color: #ffff;
  width: fit-content;
  font-weight: 700;
}

.header h1 {
  margin: 0;
}

.conteudo {
  display: flex;
  width: 80%;
  margin: 40px auto;
  background: #b5d2ed;
  border-radius: 24px;
  transition: 0.1s;
}

.conteudo:hover {
  transform: scale(1.05);
}

.conteudo img {
  width: 40%;
  border-radius: 24px 0 0 24px;
}

.personagens-texto {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  color: white;
  text-align: left;
}

.personagens-texto h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.personagens-texto p {
  margin: 0;
  font-size: 16px;
}

.personagens-texto p i{
  margin: 0;
  font-size: 16px;
  transition: 0.2s;
}

.personagens-texto p i:hover{
  color: #F8E37D;
  transform: scale(1.05);
}

